<!-- <%#= form_with @pet do |f| %>
  <div class="form-group">
    <%#= f.label :name %>
    <%#= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%#= f.label :address %>
    <%#= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%#= f.label :species %>
    <%#= f.select :species, collection: Pet::SPECIES, class: "form-control" %>
  </div>

  <div class="form-group">
    <%#= f.label :found_on %>
    <%#= f.date_field :found_on, class: "form-control" %>
  </div>

  <div class="form-group">
    <%#= f.submit class: "btn btn-primary" %>
  </div>
<%# end %>-->
<!--
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @restaurant.name %></h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Address</th>
            <td><%= @restaurant.address %></td>
          </tr>
          <tr>
            <th scope="row">Phone Number</th>
            <td><%= @restaurant.phone_number %></td>
          </tr>
          <tr>
            <th scope="row">Category</th>
            <td><%= @restaurant.category %></td>
          </tr>
        </tbody>
      </table>

      <div class="list-group">
        <% @restaurant.reviews.each do |review| %>
          <li class="list-group-item">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fa-solid fa-star"></i>
                <% else %>
                  <i class="fa-regular fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <p><%= review.content %></p>
          </li>
        <% end %>
      </div>

      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "See all restaurants", restaurants_path %>
    </div>
  </div>
</div>
-->
<h1>New pet</h1>
  <%= simple_form_for @pet do |f| %>

<div class ="form-inputs">
    <%= f.input :name %>
    <%= f.input :species, collection: Pet::SPECIES %>
    <%= f.input :found_on %>
    <%= f.input :fluffy %>
      <div class="form-actions">
        <%= f.submit class: "btn btn-primary mt-4" %>
      </div>
    <%#= link_to "Delete", pet_path(Pet.last), data: { turbo_method: :delete, turbo_confirm: "Are your sure?" } %>
    <%#= button_to "Delete", pet_path(Pet.last), method: :delete, form: { data: { turbo_confirm: "Are your sure?" } } %>
</div>
  <% end %>
