
<h1>New pet</h1>
  <%= simple_form_for @pet do |f| %>
        <%= f.input :name %>
        <%= f.input :species, collection: Pet::SPECIES %>
        <%= f.input :found_on %>
        <%= f.input :fluffy %>
        <%= f.submit class: "btn btn-primary mt-4" %>
        <%#= link_to "Delete", pet_path(Pet.last), data: { turbo_method: :delete, turbo_confirm: "Are your sure?" } %>
        <%#= button_to "Delete", pet_path(Pet.last), method: :delete, form: { data: { turbo_confirm: "Are your sure?" } } %>
  <% end %>
